header{
  @apply h-[80px] transition-all duration-700 ease-in-out;
  &.is-scrolled {
    @apply h-[112px] transition-all duration-700 ease-in-out ;
    #toolbar{
      display: none;
    }
    .header-padding{
      @apply lg:py-2 py-0;
    }
    // .logo-scroll{
    //   height: 6rem;
    // }
    ul > li:not(.btn-navigation) > a, ul , .navigation-mobile {
      @apply text-white hover:text-primary transition-all;
    }

    li:not(.btn-navigation) > a > svg {
      @apply text-primary transition-all;
    }
    li:not(.btn-navigation){
      >.navigation-mobile {
        @apply text-white transition-all;
         >svg {
          @apply text-white transition-all;
        }
      }
    }
  }
}


// #header {
//   @apply z-20;

//   .brand {
//     @media (max-width: 991px) {

//       > img {
//         @apply h-8 w-auto;
//       }
//     }
//   }
// }

@media (max-width: 1023px) {
  .nav-primary {
    @apply invisible absolute right-0 w-full transition z-10;

    top: 80px;
    height: calc(100vh - 80px);
    transform: translateX(100%);

    > ul {
      @apply w-5/6 ml-auto h-full bg-white border-t border-gray-200;
    }

    ul {
      @apply list-none pl-0;

      li {
        a {
          @apply block text-gray-800 font-normal border-b border-gray-200 px-8 py-4;

          &:hover {
            @apply text-primary;
          }
        }

        &.menu-item-has-children {
          @apply relative;

          > a {
            &:hover {
              @apply text-gray-800;
            }
          }

          .toggle {
            > svg {
              @apply text-gray-800 transition;

              transform: rotate(0);

              path {
                fill: currentColor;
              }
            }
          }

          .sub-menu {
            @apply bg-gray-100 overflow-hidden hidden;

            > li {
              > a {
                @apply pl-10;
              }

              > .sub-menu {
                > li {
                  > a {
                    @apply pl-12;
                  }
                }
              }
            }
          }

          &.open {
            > a {
              @apply text-black border-primary;
            }

            > .toggle {
              > svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }

    &.open {
      @apply visible;

      transform: translateX(0);
    }
  }

  .nav-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    top: 80px;
    height: calc(100vh - 80px);

    &.show {
      @apply visible opacity-100;
    }
  }
}

@screen lg {
  .nav-primary {
    > ul {
      > li {
        > a {
          @apply text-white font-semibold border-none capitalize tracking-wide inline-block px-4 py-[5px];

          &:hover {
            @apply text-primary border-none;
          }
        }

        > .sub-menu {
          @apply bg-gray-100;

          top: 54px;

          > li {
            > .sub-menu {
              @apply bg-white;
            }
          }
        }

        &:hover {
          > .sub-menu {
            top: 70px;
          }
        }
      }
    }
  }

  .nav-toolbar {
    > ul {
      > li {
        &:not(.btn-toolbar) {
          a {
            @apply px-4 py-4 text-white font-semibold text-sm border-none;

            &:hover {
              @apply text-primary border-none;
            }
          }
        }

        > .sub-menu {
          @apply bg-white z-50;

          top: 12px;
        }

        &:hover {
          > .sub-menu {
            top: 28px;
          }
        }
      }
    }
  }

  .nav-has-dropdowns {
    > ul {
      @apply list-none pl-0 flex flex-nowrap items-center;

      > li {
        @apply relative;

        > .sub-menu {
          @apply absolute left-0 w-48 pl-0 list-none rounded-sm shadow border-b border-primary transition;

          visibility: hidden;
          opacity: 0;
        }

        &:hover {
          > .sub-menu {
            visibility: visible;
            opacity: 1;
          }
        }

        > .sub-menu > li {
          @apply relative;

          a {
            @apply block text-xs text-gray-800 font-normal px-4 py-3;

            &:hover {
              @apply text-primary;
            }
          }

          > .sub-menu {
            @apply absolute top-0 w-48 pl-0 list-none rounded-sm shadow border-b border-primary;

            visibility: hidden;
            opacity: 0;
            transition: opacity 0.2s ease;
            transform: translateX(0);
          }

          &:hover {
            > .sub-menu {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }  
}

.btn-toolbar {
  a {
    @apply inline-block bg-primary text-sm font-sans uppercase rounded-full leading-none text-center ml-4;
    @apply text-white px-12 py-3 tracking-[0.095em] #{!important};

    &:hover {
      @apply bg-secondary;
    }
  }
}


// Mega Menu

.mega-menu {
  @apply bg-white border-b-4 border-[#1D508D] fixed h-auto relative z-40;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2.8rem;
    width: 100%;
    height: 4rem;
    @apply z-30;
  }

  h4 {
    @apply mb-6 text-2xl text-primary tracking-wide font-normal font-serif relative;
    &::after {
      content: '';
      width: 40px;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: -10px;
      @apply bg-gray-400;
    }
  }
  ul {
    li {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: rgb(203, 203, 203);
        transform: translateY(-50%);
      }
      @apply relative;
      
      a {
        color: #3A3A3A !important;
        @apply pl-4 transition block font-medium border-0 p-2;
      }
      

      &:hover {
        color: #14165B;
        &::before {
          @apply bg-primary;
        }
        > a {
          color: #14165B;
        }
      }

      &.sub-menu-parent {
        @apply transition;
        &::after {
          content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512' fill='lightgrey'><path d='M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z'/></svg>");
          width: 10px;
          height: 27px;
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translateY(-50%);
        }
        .sub-menu-popup {
          position: absolute;
          top: 0;
          left: 100%;
          width: 300px;
          background: #fff;
          z-index: 1;
          box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.05);
          background: #f4f5f7;
          display: none;

          ul {
            li {
              padding: 0;
              border-bottom: 1px solid #dde1e3;
              &:last-child {
                border: none;
              }
              a {
                @apply transition;
              }
              &:hover {
                a {
                  color: #14165B;
                }
              }
              a {
                padding: 0.75rem;
              }
            }
          }

          &.active {
            display: block;
          }
        }
      }

    }
  }
  .mega-menu-cta-card {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      @apply bg-[#AA885F] opacity-90 transition;
    }
    h6 {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      transition: ease-in-out 250ms all;
      @apply  text-white font-bold uppercase tracking-wider mb-0 z-10;
    }
    &:hover {
      // &::after {
      //   mix-blend-mode: multiply;
      //   @apply bg-[#AA885F] opacity-70;
      // }
      h6 {
        left: 1.2rem;
      }
    }
  }
}
.mega-menu-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  z-index: 20;
}

@media (max-width: 1411px) {

.nav-toolbar {
    > ul {
      > li {
        &:not(.btn-toolbar) {
          a {
            @apply px-2 py-4 text-white font-semibold text-[0.80rem] border-none;

            &:hover {
              @apply text-primary border-none;
            }
          }
        }

        > .sub-menu {
          @apply bg-white z-50;

          top: 12px;
        }

        &:hover {
          > .sub-menu {
            top: 28px;
          }
        }
      }
    }
  }
}

@media (max-width: 1213px) {
  .nav-primary {
    > ul {
      > li {
        > a {
          @apply text-sm text-white font-semibold capitalize tracking-wide inline-block px-[0.65rem] py-4;

          &:hover {
            @apply text-primary border-none;
          }
        }

        > .sub-menu {
          @apply bg-gray-100;

          top: 54px;

          > li {
            > .sub-menu {
              @apply bg-white;
            }
          }
        }

        &:hover {
          > .sub-menu {
            top: 70px;
          }
        }
      }
    }
  }

  .btn-toolbar {
    a {
      @apply inline-block bg-primary text-sm font-sans uppercase rounded-full leading-none text-center ml-4;
      @apply text-white px-6 py-3 tracking-[0.095em] #{!important};
  
      &:hover {
        @apply bg-secondary;
      }
    }
  }
  
}

@media (max-width: 1023px) {
  .nav-primary {
    > ul {
      > li {
        > a {
          @apply text-sm text-secondary border-b border-neutral-200 font-semibold capitalize tracking-wide inline-block px-8 py-4 w-full;

          &:hover {
            @apply text-primary;
          }
        }

        > .sub-menu {
          @apply bg-gray-100;

          top: 54px;

          > li {
            > .sub-menu {
              @apply bg-white;
            }
          }
        }

        &:hover {
          > .sub-menu {
            top: 70px;
          }
        }
      }
    }
  }

  .btn-toolbar {

    @apply mx-4 mt-4;
    a {
      @apply inline-block text-[14px] bg-primary text-white hover:bg-primary font-sans font-semibold tracking-wide rounded-full text-center leading-none mb-3 ;
      @apply text-white p-3 ml-0 #{!important};
    }
    &:hover {
      a {
        @apply bg-secondary;
      }
    }
  }
}

