@font-face {
    font-family: 'Neue Aachen Pro';
    src: url('../fonts/neue aachen pro/NeueAachenPro-Regular.woff2') format('woff2'),
         url('../fonts/neue aachen pro/NeueAachenPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Aachen Pro';
    src: url('../fonts/neue aachen pro/NeueAachenPro-Medium.woff2') format('woff2'),
         url('../fonts/neue aachen pro/NeueAachenPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Aachen Pro';
    src: url('../fonts/neue aachen pro/NeueAachenPro-Bold.woff2') format('woff2'),
         url('../fonts/neue aachen pro/NeueAachenPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad pro/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/myriad pro/MyriadPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad pro/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/myriad pro/MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad pro/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/myriad pro/MyriadPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}