body:not(.page-template-template-login) {
  main#primary {
    margin-top: 57px;

    @screen lg {
      margin-top: 161px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans font-normal text-black mb-2 leading-tight;
}

h1 {
  @apply text-5xl;
}

p,
input,
div {
  @apply font-sans font-light leading-normal text-gray-500;
}

// max-w-prose limits to 65ch width
p {
  @apply mb-4 max-w-prose;
}

a {
  @apply font-sans text-primary no-underline border-b border-transparent;

  transition: 0.2s ease;

  &:hover {
    @apply border-primary;
  }
}

.btn {
  @apply text-sm font-sans uppercase tracking-widest rounded-full leading-none text-center;
  padding: 1.25rem 3rem 1rem 3rem;
  transition: 0.2s ease;
}

.container {
  @apply px-4;
}

.title-display {
  @apply font-serif tracking-widest uppercase text-base relative;

  &.title-display-left {
    padding-left: 49px;

    &::before {
      content: "";
      width: 20px;
      height: 2px;
      position: absolute;
      top: 7px;
      left: 15px;
    }

    &::after {
      content: "";
      width: 35px;
      height: 2px;
      position: absolute;
      top: 11px;
      left: 0;
    }
  }

  &.title-display-center {
    &::before {
      content: "";
      width: 2px;
      height: 35px;
      position: absolute;
      top: -37px;
      left: calc(50% - 2px);
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      width: 2px;
      height: 20px;
      position: absolute;
      top: -33px;
      left: calc(50% + 2px);
      transform: translateX(-50%);
    }
  }

  &.text-primary {

    &::before,
    &::after {
      background-color: #0076ff;
    }
  }
}

.section_ {
  &page-banner {
    .content {
      @screen md {
        @apply max-w-2xl;
      }

      @screen lg {
        @apply max-w-md;

      }
    }
  }

  &testimonials {
    .slick-dots {
      @apply block text-right;

      @screen sm {
        bottom: 4.5px;
      }

      height: 4px;

      li {
        width: 35px;
        height: 4px;

        button {
          @apply p-0 inline-block;
          width: 35px;
          height: 4px;

          &::before {
            @apply bg-white;
            content: '';
            width: 35px;
            height: 4px;
          }
        }
      }
    }
  }

  &quoting-engine {
    .engine-wrap {
      @apply relative;

      &::after {
        @apply absolute border border-gray-600;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 80%;
        z-index: -1;
        transform: translateY(-50%);
      }
    }
  }
}

#cookie-notice {
  @apply hidden opacity-0 pointer-events-none -z-10;

  &.active {
    @apply block opacity-100 pointer-events-auto z-10;
  }

  @screen md {
    width: 320px !important;
    transform: translateY(100%);

    &.active {
      transform: translateY(0);
    }
  }
}

#panel-share {
  &.active {
    @apply visible opacity-100;
  }

  @media (max-width: 767px) {
    @apply w-full h-full inset-0;

    background-color: rgba(0, 0, 0, 0.5);

    .panel-share {
      @apply absolute w-full bottom-0 left-0 transition;

      transform: translateY(100%);
    }

    &.active {
      .panel-share {
        transform: translateY(0);
      }
    }
  }

  @screen md {
    transform: translate(-50%, -80%);
    left: 50%;
    top: -0.75rem;

    &.active {
      transform: translate(-50%, -100%);
    }
  }
}

.arrow-bottom::after {
  @apply absolute rounded-sm;

  content: " ";
  transform: translateX(-50%);
  left: 50%;
  bottom: -10px;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: none;
}

.mixitup-control {
  @apply text-gray-800 transition;

  &.mixitup-control-active {
    @apply text-white bg-primary;
  }
}

.justify-stretch {
  justify-content: stretch;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inset-auto {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

.inset-y-0 {
  top: 0;
  bottom: 0;
}

.inset-x-0 {
  right: 0;
  left: 0;
}

.inset-y-auto {
  top: auto;
  bottom: auto;
}

.inset-x-auto {
  right: auto;
  left: auto;
}

.top-auto {
  top: auto;
}

.right-auto {
  right: auto;
}

.bottom-auto {
  bottom: auto;
}

.left-auto {
  left: auto;
}

.transition {
  transition: all 0.2s ease;
}

.list-none {
  list-style-type: none;
}

.embed {
  &-21by9 {
    @apply aspect-21/9 relative block p-0 overflow-hidden;
  }

  &-16by9 {
    @apply aspect-16/9 relative block p-0 overflow-hidden;
  }

  &-3by2 {
    @apply aspect-3/2 relative block p-0 overflow-hidden;
  }

  &-4by3 {
    @apply aspect-4/3 relative block p-0 overflow-hidden;
  }

  &-3by4 {
    @apply aspect-3/4 relative block p-0 overflow-hidden;
  }

  &-7by10 {
    @apply aspect-7/10 relative block p-0 overflow-hidden;
  }

  &-1by1 {
    @apply aspect-square relative block p-0 overflow-hidden;
  }
}

.object-fit {
  &-cover {
    @apply absolute inset-0 w-full h-full object-cover;
  }

  &-contain {
    @apply absolute inset-0 w-full h-full object-contain;
  }
}

.bg-half-gray-100 {
  @apply relative;

  &::before {
    @apply absolute top-0 left-0 right-0 h-1/2 bg-gray-100;

    content: "";
  }
}

.slick-slide {
  @apply inline-block;
}

.h-24 {
  height: 24rem;
}

.-z-1 {
  z-index: -1;
}

.text-custom-blue {
  color: #1176ff;
}

.text-custom-lighter-blue {
  color: #58baee;
}

.box {
  position: relative;
  border: 1px solid #0076ff;
  background-color: rgb(251, 251, 251);
  padding: 0.75rem;

}

.blue-check {
  position: absolute;
  right: 10px;
  top: 35%;
}

.checkout-step {
  .pane {
    @apply hidden;
  }

  &.active {
    .pane {
      @apply block;
    }
  }
}

.fixed-sidebar {
  padding: 0.5rem 0;
  position: fixed;
  bottom: 50%;
  right: -5px;
  width: 80px;
  transition: right .2s ease;

  path {
    transition: transform .2s ease;
  }

  &.hide {
    right: -74px;

    path {
      transform: rotateY(180deg) translateX(-80%);
    }
  }
}

.fixed-sidebar * {
  color: #fff;
}

.fixed-sidebar .chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  height: 30px;
  width: 20px;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.banner-height {
  height: 50vh;

  @screen lg {
    height: 75vh;
  }
}

#checkout-summary-toggle {
  svg {
    @apply transition;

    transform: rotate(0);
  }

  &.active {
    svg {
      transform: rotate(180deg);
    }
  }
}

.input-text {
  @apply w-full border border-gray-200 rounded p-2;
}

.translate-center {
  transform: translate(-50%, -50%);
}

.translate-x-center {
  transform: translateX(-50%);
}

.translate-x-center {
  transform: translateY(-50%);
}

.slick-overflow-visible {
  .slick-list {
    @apply overflow-visible;
  }
}

//accordion
.accordion {
  .accordion-item {
      p {
        @apply mb-4 max-w-2xl ;
      }
    &.active {
      .accordion-item-header {
        @apply bg-white;
        h5 {
          @apply text-[#2F343C] ml-4 text-[1rem];
        }
        svg {
          &.fa-chevron-down {
            @apply hidden text-primary text-sm ;
          }
          &.fa-chevron-up {
            @apply block text-primary text-sm ;
          }
        }
      }
    }
    .accordion-item-header {
      @apply p-2  flex items-center cursor-pointer;
      background:white;

      h5 {
        @apply mb-0 ml-4 text-primary text-[1rem];
      }
      svg {
        @apply text-primary p-3 ;
        &.fa-chevron-up {
          @apply hidden text-sm;
        }
      }
    }
  }
}

.trapezoid {
  @screen lg {

    clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.cta-chat-fixed {
  @apply hidden;

  @screen lg {
    @apply fixed bottom-4 right-4 rounded-full z-[999] transition translate-x-0 opacity-100 flex bg-gray-100 border border-gray-200 p-0.5;
    
    &.chat-open {
      @apply right-0 translate-x-full opacity-0;
    }
  
    .chat-method {
      @apply w-14 h-14 rounded-full cursor-pointer flex items-center justify-center transition m-0.5;
    }
  }
}

#header-main{
.header-bg{
  background: #0a0a0b99;
}

  @screen lg{
    .header-bg{
      background: #0a0a0b99;
    }
  }
  
}

.leftBannerBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: #34333873;

  @screen md {
    width: 42%;
    background: #343338ad;
  }
}

.banner-title{
  line-height: 46px !important;
  @screen md {
    line-height: 74px !important;
  }
}

#hero-banner{
  .banner-content{
    .title-shadow{
      text-shadow: 2px 2px 4px #000000;
    }
  }
}

#offer-strip{
  @screen lg {
    .offer-skew{
      transform: skewX(-25deg);
      margin: 0 -3rem;
      position: relative;
    }

    .offer-before-cover{
      &::before{
        content:"";
        position: absolute;
        @apply h-full w-[20%] bg-secondary top-0 left-[-10%] bottom-0;
      }
    }
    .offer-after-cover{
      &::after{
        content:"";
        position: absolute;
        @apply h-full w-[20%] bg-primary top-0 right-[-10%] bottom-0;
      }
    }

    .offer-skew-opp{
      transform: skewX(25deg);
      margin: 0 -3rem;
    }
  }
  // .offer-skew{
  //   transform: skewX(-25deg);
  //   margin: 0 -3rem;
  // }
  // .offer-skew-opp{
  //   transform: skewX(25deg);
  //   margin: 0 -3rem;
  // }
}

#why-choose-us{
  .why-choose-us{
    p{
      max-width: 768px;
    }
  }
}

.blue-bg-gradient{
  background:linear-gradient(-45deg, #012E66 0%, #1D5190 40%, #1F334D 60%, #012F67 100%);
}

.product-bottom-bg {
 
  @apply absolute w-full;

  &::after {
    content: '';
    
    @apply w-full h-full absolute inset-0 z-0;

  }

}

.ProductTile{
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 3px black;
}

.ProductTile:hover img{
  transform: scale(1.05);
  transition: all .3s;
}

.ProductTileTint{
  mix-blend-mode: multiply;
  z-index: 1;
  top: 0;
  left: 0;
  transition: all .5s;
}
.ProductTileTint:hover{
  background: #AA885F;
}

#energy-calculator-content{
  .content{
    align-items: baseline;
    p{
      max-width: 28ch;
    }
  }
}

.darkTint{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #0157c0dd, #2c76d0df 40%, #406ba2d2 60%, #023d85e9);
  mix-blend-mode: multiply;
}

.darkTint-button{
  padding: 0.5rem 3rem;
    width: fit-content;
    border-radius: 2rem;
    transition: all .2s;
    transform: translate(0, 50%);
    bottom: 0;

    &:hover{
      color: white;
      background: #AC885E;
      transform: scale(1.05) translate(0, 50%);
    }
}

#latest-news{
  .slick-list{
    height: 100%;
    .slick-track{
      height: 100%;
    }
  }

  .twitter{
    svg{
      color: #AC885E !important;
    }
  }

.red-strip{
  bottom: 2rem;
    z-index: 2;
    background: #CA1632;
    box-shadow: 0 0 20px inset #000000cd;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
    height: fit-content;
  }
}

.gold-gradient{
  background: linear-gradient(90deg, #AA885F, #A87B45 30%, #6C5539 60%, #B99865);
}

#hardware-options,
#color-options {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 4px;
    width: 4px;
    position: relative;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    @apply bg-[#E0E2E3];
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    &:active {
      @apply bg-primary;
    }
  }
  ::-webkit-scrollbar-track {
    @apply bg-[#F7F7FA];
  }
}

.gallery-slider-with-thumb .image_slider_thmb .slick-slide {
  padding: 0 10px;
}

#why-choose-us{
  // .slick-dotted.slick-slider {
  //   margin-bottom: 65px;
  // }
  .slick-dots {
    li {
      width: 10px;
      height: 10px;
      button {
        width: 10px;
        height: 10px;
        &::before {
          width: 10px;
          height: 10px;
          content: '';
          @apply bg-white rounded-full transition-all;
        }
      }
      &.slick-active {
        width: 20px;
        height: 10px;
        button {
          width: 20px;
          height: 10px;
          &::before {
            width: 20px;
            height: 10px;
            content: '';
            @apply bg-white ;
          }
        }
      }
    }
  }
}

#article{
  p{
    @apply font-normal mx-auto text-[#7c7c7c];
    max-width: 1024px;
    img,Iframe{
      @apply w-[80%] mx-auto;
    }
  }
  h2{
    @apply text-[#3a3a3a] text-3xl font-bold;
  }
  h3{
    @apply text-[#3a3a3a] text-2xl font-bold;
  }
  h4{
    @apply text-[#3a3a3a] text-xl font-bold;
  }
}

.home-blog-pagination{
  // .pagination {
  //   display: inline-block;
  // }
  
  .pagination span.current {
    color: white;
    background-color: #AC885E;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

}

.product-grid-card{
  img{
    transition: all ease-in .2s;

    &:hover{
      -webkit-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}
.product-grid-card {
  @apply relative;
  h6 {
    @apply bg-secondary rounded-lg absolute left-4 bottom-4 text-white z-10 mb-0 px-4 py-4;
    transition: ease-in-out 250ms all;
  }
  &:hover {
    h6 {
      left: 1.5rem;
    }
  }
}


// showroom-info-block

#showroom-info-block{
  .inner-wrapper {

    @screen lg {
      height: 80vh;
    }
  }
}

// blue-quote-cta

#blue-quote-cta{
  .inner-wrapper {

    @screen lg {
      height: 80vh;
    }
  }
}

//pasted svg rules
.free-icon-style svg { height:auto; width:2rem; }
.free-icon-style svg > path { fill:#ac885e; }

#energy-calculator-content{
  .icon-color{
   svg{
    path{
      fill: #3F7E57 !important;
    }
    }
  }
}

.privacy-text-block{
  p{
   max-width: 101ch !important;
 }
}

.main-banner__product-types-vr {
  @apply absolute bottom-32 right-12 z-20 cursor-pointer hidden xl:block;
  .main-banner__product-types-vr-image {
    @apply h-[200px] ease-in-out duration-500;
  }
  .main-banner__product-types-vr-title {
    @apply text-white text-center border-b border-white max-w-max mx-auto font-semibold ease-in-out duration-500;
  }
  &:hover {
    .main-banner__product-types-vr-title {
      @apply mt-6;
    }
    .main-banner__product-types-vr-image {
      @apply scale-125;
    }
  }
}

// Comparison Slider

.comparison .item {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 20px;
  position: relative;

  @media (min-width: 768px) {
    aspect-ratio: 2 / 1;
    width: 100%;
  }
}

.comparison .item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-top {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

#slider {
  position: relative;
  -webkit-appearance: none;
  width: calc(100% + 20px);
  height: 100%;
  margin-left: -10px;
  background: transparent;
  outline: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  @apply bg-primary;
}
.text-shadow{
 text-shadow: 1px 2px 3px #343338;
}